{% extends "base.html" %}
{% block content %}

<div style="max-width:900px;margin:auto;text-align:center;margin-top:80px;">

    <h1 class="page-title">Добро пожаловать в StudentHubik</h1>
    <p style="opacity:0.7;margin-bottom:50px;font-size:18px;">
        Платформа управления обучением нового поколения
    </p>

    <div class="card-grid">
        <div class="card">
            <div class="card-title">Я студент</div>
            <div class="card-value">🎓</div>
            <br>
            <a href="{{ url_for('login') }}?role=student" class="btn">Войти как студент</a>
        </div>

        <div class="card">
            <div class="card-title">Я преподаватель</div>
            <div class="card-value">👨‍🏫</div>
            <br>
            <a href="{{ url_for('login') }}?role=teacher" class="btn">Войти как преподаватель</a>
        </div>
    </div>

</div>

{% endblock %}