{% extends "base.html" %}
{% block content %}
<div class="auth-card">
    <h2>Регистрация</h2>
    <form method="post">
        <input type="text" name="name" placeholder="ФИО" required>
        <input type="email" name="email" placeholder="Email" required>

        <select name="group_id" required>
    <option value="">Выберите группу</option>
    <option value="1">ИС24-01/2g</option>
    <option value="2">ИС24-01/2</option>
    <option value="3">ИС24-01</option>
</select>

        <input type="password" name="password" placeholder="Пароль" required>

        <button class="btn primary" type="submit">Создать аккаунт</button>
    </form>
</div>
{% endblock %}