{% extends 'base.html' %}
{% block title %}Кабинет преподавателя{% endblock %}

{% block content %}
<div class="card">
    <h2>Кабинет преподавателя</h2>

    <form method="post">
        <select name="student_id">
            {% for s in students %}
            <option value="{{ s.id }}">{{ s.name }}</option>
            {% endfor %}
        </select>

        <select name="subject_id">
            {% for sub in subjects %}
            <option value="{{ sub.id }}">{{ sub.name }}</option>
            {% endfor %}
        </select>

        <input type="number" name="grade" min="1" max="5" placeholder="Оценка">

        <button>Поставить оценку</button>
    </form>

    <br>
    <a href="/logout">Выйти</a>
</div>
{% endblock %}
